# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore dataset if too large
dataset/

# Ignore model weights and large files
model/*.h5
model/*.tflite

*.h5
*.pkl
*.pyd
*.dll
*.so
*.zip
*.tar
*.whl
*.db
*.log

# Ignore environment variables
.env
